@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variables de colores */
  .light {
    background-color: #ffffff;
    --primary: #121212;
    --neutral-100: #111827;
    --neutral-300: #374151;
    --neutral-500: #6b7280;
    --neutral-700: #d1d5db;
    --neutral-800: #f2f2f3;
    --neutral-900: #f3f4f6;
    --neutral-950: #ffffff;
  }

  .dark {
    background-color: #121212;
    --primary: #242424;
    --neutral-100: #f5f5f5;
    --neutral-300: #e0e0e0;
    --neutral-500: #9e9e9e;
    --neutral-700: #616161;
    --neutral-800: #424242;
    --neutral-900: #303030;
    --neutral-950: #212121;
  }

  /* Usa el font predeterminado de Windows */
  body {
    font-family: "Inter", sans-serif;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .title-bar {
    -webkit-app-region: drag;
  }

  .error {
    border: 1px solid red;
  }

  .fade {
    transition: opacity 0.1s ease-in;
  }
  .fadeIn {
    opacity: 1;
  }
  .fadeOut {
    opacity: 0;
  }

  .logo {
    view-transition-name: image-expand;
  }

  table tbody {
    display: block;
    max-height: 1200px;
    overflow-y: scroll;
  }

  table thead,
  table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
